body
{
  background-image: url('login4.jpg');
}
.whole_login
{
  width:500px;
  height: 550px;
  box-sizing: border-box;
  border:2px solid black;
  padding:50px;
  margin:auto;
  margin-top: 50px;
  background-color: white;
}
